<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amolishah.bestprice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Encryption"
            android:label="@string/title_activity_encryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amolishah.bestprice.MainActivity" />
        </activity>
        <activity
            android:name=".Decryption"
            android:label="@string/title_activity_decryption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amolishah.bestprice.MainActivity" />
        </activity>
        <activity
            android:name=".EncryptTechniques"
            android:label="@string/title_activity_encrypt_techniques"
            android:parentActivityName=".Encryption"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amolishah.bestprice.Encryption" />
        </activity>
        <activity
            android:name=".DecryptTechniques"
            android:label="@string/title_activity_decrypt_techniques"
            android:parentActivityName=".Decryption"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amolishah.bestprice.Decryption" />
        </activity>
        <activity
            android:name=".PlayfairCipher"
            android:label="@string/title_activity_playfair_cipher"
            android:parentActivityName=".EncryptTechniques"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amolishah.bestprice.EncryptTechniques" />
        </activity>
    </application>

</manifest>